@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navbar styling */
.navbar {
    width: 100%;
    position: fixed;
    padding: 25px 0;
    font-family: 'Lato', sans-serif;
    transition: all 0.4s ease;
}

.navbar .logo span {
    color: #ff000f;
}

.navbar .logo a {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.navbar.stay {
    padding: 15px 0;
    background-color: #ff000f;
}

.navbar.stay .logo span {
    color: #000000;
    transition: all 0.4s ease;
}

.navbar .menu li a {
    color: #fff;
    font-size: 20px;
    transition: color 0.4s ease;
}

.navbar .menu li a:hover {
    color: #ff000f;;
}

.navbar.stay .menu li a:hover {
    color: #000000;
    transition: color 0.4s ease;
}

.navbar .menu li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.max-width {
    max-width: 1600px;
    padding: 0 100px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* home styling  */
.home {
    display: flex;
    background: url("img/img5.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Lato', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 150px;
}

.home #home-content .part-1 {
    font-size: 30px;
}

.home #home-content .part-2 {
    font-size: 50px;
}

.home #home-content .part-3 {
    font-size: 70px;
    font-weight: 600;
}

.home #home-content .part-4 {
    font-size: 40px;
    margin: 10px 0;
}

.home #home-content .part-4 span {
    color: #ff000f;
}
